*{
    margin:0;
    padding:0;
    border:0;
}
ul {
    margin: 0;
}
h1 {
    margin: 0;
}
body {
    color: #3f3f3f;
    font-family: 'Work Sans', sans-serif;
}
body h1 {
    font-family: 'Grandstander', cursive;
}
nav {
    background-color: rgb(177, 218, 187);
}
#nav-logo {
    float: left;
    line-height: 75px;
}
nav ul {
    float: right;
    line-height: 75px;
}
nav li {
    display: inline;
}
header {
    height: 100vh;
    background-color: rgb(135, 135, 204);
}
#main {
    background-color: beige;
}
article {
    background-color: lightpink;
}
.more-things {
    color: #fafafa;
}
.more-things i {
    display: block;
}
#one {

    background-color: rgb(128, 103, 119);
}
#two {

    background-color: rgb(126, 86, 111);
}
#three {

    background-color: rgb(128, 69, 106);
}
#four {

    background-color: rgb(131, 27, 93);
}
footer {
    clear: both;
    height: 100px;
    background-color: paleturquoise;
}