body {
    color: #3f3f3f;
    text-align: center;
}
nav {
    height: 75px;
    background-color: rgb(177, 218, 187);
}
header {
    height: 100vh;
    background-color: rgb(135, 135, 204);
}
header h1 {
    line-height: 100vh;
}
#main {
    height: 300px;
    background-color: beige;
}
article {
    background-color: lightpink;
    height: 300px;
}
#one {
    height: 300px;
    background-color: rgb(128, 103, 119);
}
#two {
    height: 300px;
    background-color: rgb(126, 86, 111);
}
#three {
    height: 300px;
    background-color: rgb(128, 69, 106);
}
#four {
    height: 300px;
    background-color: rgb(131, 27, 93);
}
footer {
    clear: both;
    height: 200px;
    background-color: paleturquoise;
}